$icon-width: 30px;
$icon-width-mobile: 40px;

%icon-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: arial, helvetica, clean, sans-serif;
}

/*LAYOUT*/
.app-footer {
  > div {
    display: flex;
    justify-content: space-around;
  }
}

/*GENERAL STYLES - hover*/
.app-footer {
  a {
    transition: opacity 0.25s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

/*STYLES*/
.app-footer {
  width: 100%;
  background-color: #2e2d84;
  min-height: 6.5em;
  height: auto;
  @media screen and (max-width: 860px) {
    padding: 1em;
    width: calc(100% - 2em);
  }
  > div {
    margin: 0 auto;
    max-width: 1024px;
    min-height: inherit;
    @media screen and (max-width: 860px) {
      flex-direction: column;
      align-items: center;
    }
    .fbf-logo {
      @extend %icon-display;
      .fbf-logo-wrapper {
        a {
          display: inline-block;
          width: 11em;
          height: 4em;
          background-image: url(https://portfolio.no/data/2fda1a84-77cd-41bf-bdb7-a14530b62937);
          background-repeat: no-repeat;
          @media screen and (max-width: 860px) {
            width: 40vw;
            height: 16vw;
          }
        }
      }
    }
    .fbf-social-media {
      @extend %icon-display;
      @media screen and (max-width: 860px) {
        margin: 0.5em;  
      }
      .fbf-social-media-wrapper {
        margin: 0 0.4em;
        a {
          display: inline-block;
          width: $icon-width;
          height: $icon-width;
          background: rgba(0, 0, 0, 0) no-repeat scroll 0 0 / 100% auto;
            @media screen and (max-width: 860px) {
              width: $icon-width-mobile;
              height: $icon-width-mobile;
            }
        }
        .social-1 {
          background-image: url("https://portfolio.no/data/def9c463-eddd-47e6-b6a3-b96dc3222802");
        }
        .social-2 {
          background-image: url("https://portfolio.no/data/55ad895b-fe7e-4ac3-b8a6-738cc667892f");
        }
        .social-3 {
          background-image: url("https://portfolio.no/data/a62ca3c8-ad84-423e-8055-1e37f7c5fa51");
        }
        .social-4 {
          background-image: url("https://portfolio.no/data/b7364503-07ed-4586-a5a4-6c29a3fed9ca");
        }
      }
    }
    .fbf-icon-container {
      display: flex;
      @media screen and (max-width: 860px) {
       flex-direction: column; 
      }
      .icon-wrapper {
        @extend %icon-display;
        width: 100%;
        margin: 1em 0;
        a {
          @extend %icon-display;
          align-items: flex-end;
          color: white;
          white-space: nowrap;
          font-size: 1.2em;
          margin-right: 1em;
          .privacy-icon {
            background: rgba(0, 0, 0, 0)
              url("https://portfolio.no/data/34dab509-2e9d-4231-8e51-c0fe18b7471b")
              no-repeat scroll 0 0 / 100% auto;
          }
          .contact-icon {
            background: rgba(0, 0, 0, 0)
              url("https://portfolio.no/data/d53ed31b-962c-49b4-b56c-9e86ee015aa9")
              no-repeat scroll 0 0 / 100% auto;
          }
          span:first-child {
            width: $icon-width;
            height: $icon-width;
            margin-right: 1em;
          }
        }
      }
    }
  }
}