@import 'config';
@import 'AppHeader';
@import 'AppFooter';
@import 'AppNavigation';
@import 'ViewHome';
@import 'ViewLandingPage';

html, body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

main {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    min-height: calc(100vh - 21rem);
}

.inner-width {
    width: 100%;
    max-width: $max-width;
}