<template>
  <div class="view view-content inner-width">
    <h1>{{ title }}</h1>
    <section v-html="bodyHtml"></section>
    <aside v-html="asideHtml"></aside>
  </div>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';

export default {
  name: 'subpage',
  props: ['chapter'],
  data() {
    return {
      title: '',
      bodyHtml: '',
      asideHtml: '',
    }
  },
  mounted() {
    this.$http.get(`${baseCmsUrl}path/${baseCmsNode}kapittler`).then((response) => {
      let nodeId = response.data.node_id;
      this.$http.get(`${baseCmsUrl}node/${nodeId}/children?depth=1`).then((response) => {
        this.title = response.data[this.chapter - 1].fields.title.text;
        this.bodyHtml = response.data[this.chapter - 1].fields.body.content;
        this.asideHtml = response.data[this.chapter - 1].fields.aside.content;
      });
    });
  }
} 
</script>
