<template>
  <div class="view view-home inner-width">
    <section v-html="bodyHtml"></section>
    <aside v-html="asideHtml"></aside>
  </div>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';

export default {
  name: 'home',
  components: {
  },
  data() { 
    return {
      bodyHtml: '',
      asideHtml: '',
    }
  },
  mounted() {
    this.$http.get(`${baseCmsUrl}path/${baseCmsNode}Hjem`).then((response) => {
      this.bodyHtml = response.data.fields.body.content;
      this.asideHtml = response.data.fields.aside.content;
      return;
    });
  }
}
</script>
