<template>
  <div class="view view-landing-page inner-width">
    <h1>{{ title }}</h1>
    <section>
      <ul>
        <li v-for="(link, linkId) in links" :key="linkId">
          <router-link :to="`/${ lang }/Kapittel/${ linkId + 1 }`">
            {{ link.fields.title.text }}
          </router-link>
        </li>
      </ul>
    </section>
  </div>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';

export default {
  name: 'landing-page',
  props: ['lang'],
  components: {
  },
  data() {
    return {
      title: '',
      links: [],
    }
  },
  mounted() {
    this.$http.get(`${baseCmsUrl}path/${baseCmsNode}kapittler`).then((response) => {
      this.title = response.data.fields.title.text;

      let nodeId = response.data.node_id;
      this.$http.get(`${baseCmsUrl}node/${nodeId}/children?depth=2`).then((response) => {
        this.links = response.data;
        return;
      });  
    });
  }
} 
</script>
