<template>
  <header class="app-header">
    <div class="inner-width">
      <AppHeaderLogo />
    </div>
  </header>
</template>


<script>
import AppHeaderLogo from '@/components/AppHeaderLogo.vue';

export default {
  name: 'AppHeader',
  components: {
    AppHeaderLogo,
  }
}
</script>
