<template>
  <div class="app-header-logo">
    <div class="inner-width">
      <router-link :to="`/${ lang }/Hjem`" class="app-header-logo__link" exact>
        <img src="../assets/images/app-logo.png" class="app-header-logo__image">
      </router-link>
    </div>
  </div>
</template>


<script>
export default {
  name: 'AppHeaderLogo',
  data() {
    return {
      lang: this.$route.params.lang != undefined ? this.$route.params.lang : 'bm'
    }
  },
}
</script>
