<template>
  <nav role="navigation" class="app-navigation">
    <div class="inner-width">
      <button @click="showMenu = !showMenu"></button>
      <ul :class="{ open: showMenu}">
        <li v-for="(link, id) in links" :key="id">
          <router-link :to="`/${ lang }${ link.url }`" exact>{{ link.fields.title.text }}</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>


<script>
import { baseCmsUrl, baseCmsNode } from '../../config';

export default {
  name: 'AppNavigation',
  data() { 
    return {
      lang: this.$route.params.lang != undefined ? this.$route.params.lang : 'bm',
      links: [],
      showMenu: false
    }
  },
  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },
  },
  mounted() {
    
    this.$http.get(`${baseCmsUrl}node/${baseCmsNode}children?depth=10&fields=title,uri_slug`).then((response) => {
      this.links = response.data;
    });
    
  }
}
</script>
